.footer {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}

.footer__text {
  flex: 1;
}

.footer__text > h3 {
    padding-bottom: 20px;
  }

.footer__text > p {
    padding-bottom: 20px;
  }
